#box {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
}
body {
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
#box1 {
  width: 1220px;
  height: 500px;
  margin: 0 auto;
  margin-top: 30px;
}
#box2 {
  height: 352px;
  width: 600px;
  background-size: cover;
  margin-left: 20px;
}
#box3 {
  width: 600px;
  height: 352px;
  background: #fff;
  border: 1px solid #eee;
  float: right;
  margin-top: -352px;
  /*margin-left: -500px;*/
  position: relative;
}
#box4 {
  text-align: center;
}
#box4 {
  margin-right: 20px;
}
#p1 {
  color: #ff4200;
  font-size: 28px;
  position: absolute;
  margin-left: 70px;
  margin-top: 30px;
}
#p2 {
  font-size: 20px;
  position: absolute;
  margin-left: 70px;
  margin-top: 80px;
}
#p3 {
  font-size: 20px;
  position: absolute;
  margin-left: 70px;
  margin-top: 125px;
}
#p4 {
  font-size: 20px;
  position: absolute;
  margin-left: 70px;
  margin-top: 170px;
}
#box5 {
  height: 356px;
  width: 1178px;
  /*background: url("./../image/lover/6.jpg") no-repeat ;*/
  /*background-size: cover;*/
  background: #fff;
  margin-left: 20px;
  border: 2px solid #ff5800;
  margin-top: 20px;
  position: relative;
}
#box7 {
  height: 352px;
  width: 600px;
  background: #fff;
  /*margin-top: -352px;*/
  float: right;
}
#box8 {
  width: 600px;
  height: 74px;
  background: #f6f6f6;
  /*margin-top: -20px;*/
  position: relative;
}
#box9 p {
  float: left;
  margin-left: 40px;
  font-size: 20px;
  margin-top: 20px;
}
#box6 {
  position: absolute;
  background: url("../image/lover/rili.png") no-repeat;
  background-size: contain;
  height: 352px;
  width: 580px;
  margin-left: 50px;
}
#p5 {
  font-size: 20px;
  position: absolute;
  margin-left: 60px;
  line-height: 72px;
}
#box9 {
  margin-top: -10px;
}
#box10 {
  position: relative;
  cursor: pointer;
}
#box11 {
  position: relative;
  cursor: pointer;
}
#box11 p {
  position: absolute;
  font-size: 20px;
  margin-top: 120px;
  margin-left: 40px;
}
#box10 input {
  position: absolute;
  margin-top: 70px;
  margin-left: -424px;
}
#box10 p {
  position: absolute;
  font-size: 20px;
  margin-top: 70px;
  margin-left: 40px;
}
#span1 {
  font-size: 14px;
  position: absolute;
  margin-left: 30px;
  margin-top: 40px;
  /*color: #fff;*/
}
#span2 {
  font-size: 36px;
  color: #ff4200;
  line-height: 36.5px;
}
#p6 {
  font-size: 20px;
  margin-top: 25px ;
  /*color: #989898;*/
}
#span3 {
  font-size: 18px;
  margin-left: 30px;
  color: #0f0f0f;
}
.p7 {
  margin-right: 30px;
}
.span4 {
  margin-left: 30px;
}
.div10 {
  width: 18px;
  height: 18px;
  border: 1px solid #e1e1e1;
  position: absolute;
  margin-left: 188px;
  margin-top: 120px;
  line-height: 18px;
}
.div11 {
  width: 18px;
  height: 18px;
  border: 1px solid #e1e1e1;
  position: absolute;
  margin-left: 260px;
  margin-top: 120px;
  line-height: 18px;
}
#box12 {
  width: 45px;
  height: 35px;
  border: 1px solid #e1e1e1;
  position: absolute;
  margin-left: 210px;
  margin-top: 110px;
  line-height: 35px;
}
#p7 {
  font-size: 18px;
  color: #c1c1c1;
  position: absolute;
  margin-left: -270px;
  margin-top: 120px;
}
#box13 {
  position: relative;
}
#box14 a {
  text-decoration: none;
  color: #fff;
  line-height: 55px;
  font-size: 26px;
  cursor: pointer;
}
#box14 {
  height: 55px;
  width: 170px;
  background: #ff9933;
  color: #fff;
  position: absolute;
  line-height: 55px;
  font-size: 26px;
  /*border-radius: 5%;*/
  margin-top: 150px;
  margin-left: 400px;
  cursor: pointer;
}
.div9 {
  margin-left: -30px;
  margin-top: 15px;
}
#box15 {
  border: 1px solid #e0e0e0;
  width: 1366px;
  position: absolute;
  margin-top: 280px;
  text-align: center;
}
#box16 {
  /*border: 1px solid orangered;*/
  margin-top: 280px;
}
#box16 p {
  float: left;
  margin-top: 60px;
  margin-left: 175px;
  font-size: 28px;
  font-family: "Arial Normal", "Arial";
  font-weight: 400;
  color: #333;
  line-height: normal;
  font-style: normal;
}
#p12 {
  font-size: 16px;
  margin-top: 440px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Arial Normal", "Arial";
  font-weight: 400;
  color: #333;
  line-height: 34px;
}
#box19 {
  margin-top: 100px;
}
#box20 {
  background-size: contain;
  height: 352px;
  width: 580px;
  margin-left: 100px;
}
#box21 {
  background-size: contain;
  height: 352px;
  width: 580px;
  float: right;
  margin-top: -352px;
  margin-right: 70px;
}
#box23 {
  background-size: contain;
  height: 352px;
  width: 580px;
  margin-left: 100px;
}
#box24 {
  background-size: contain;
  height: 352px;
  width: 580px;
  float: right;
  margin-top: -352px;
  margin-right: 70px;
}
#box22 {
  margin-top: 36px;
}
.box25 {
  border: 1px solid #e0e0e0;
  width: 1366px;
  position: absolute;
  margin-top: 40px;
}
.box26 {
  width: 109px;
  height: 102px;
  background: #30AFA2;
  line-height: 102px;
  font-size: 26px;
  color: #fff;
  margin-left: 146px;
  margin-top: 100px;
  font-family: "Arial Normal", "Arial";
  font-weight: 400;
}
#box27 {
  position: relative;
}
.oP {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 340px;
  margin-top: -20px;
  visibility: visible;
  word-wrap: break-word;
  font-family: "Arial Normal", "Arial";
  font-weight: 400;
  color: #333;
  font-size: 16px;
}
.oP1 {
  visibility: visible;
  word-wrap: break-word;
  font-family: "Arial Normal", "Arial";
  font-weight: 400;
  color: #333;
  font-size: 16px;
  position: absolute;
  margin-left: 340px;
  line-height: 30px;
  margin-right: 280px;
  margin-top: -150px;
}
.oP2 {
  visibility: visible;
  word-wrap: break-word;
  font-family: "Arial Normal", "Arial";
  font-weight: 400;
  color: #333;
  font-size: 16px;
  position: absolute;
  margin-left: 340px;
  margin-top: -110px;
  line-height: 30px;
  margin-right: 70px;
}
#box25 {
  width: 100%;
  height: 260px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-top: 50px;
}
#box25 h3 {
  text-align: center;
  color: #B8AA9D;
  font-size: 36px;
}
#box25 p {
  color: white;
  text-align: center;
}
#box25 #div8 {
  width: 900px;
  height: 50px;
}
#box25 .s3 {
  font-weight: bold;
  color: white;
}
#box25 .s4 {
  color: white;
}
#box25 div {
  margin-top: 30px;
}
#top {
  width: 1519px;
  height: 62px;
  background: black;
  margin-top: -6px;
}
#nav {
  width: 1366px;
  height: 62px;
  margin: 0 auto;
  background: black;
  position: relative;
}
#nav ul {
  width: 1000px;
  height: 62px;
  background: black;
  position: absolute;
  top: 0;
  left: 320px;
}
#nav ul li {
  width: 80px;
  height: 62px;
  float: left;
  color: white;
  line-height: 62px;
  text-align: center;
}
#nav ul li a {
  text-decoration: none;
  outline: none;
  color: white;
}
#nav ul li:hover {
  background: whitesmoke;
  color: #B8AA9D;
  cursor: pointer;
  z-index: 33;
}
#nav ul li:hover a {
  color: #B8AA9D;
}
#landing {
  color: white;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
#registered {
  color: white;
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}
#ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 40px;
  cursor: pointer;
  display: none;
}
#exit {
  position: absolute;
  top: 20px;
  right: 0;
  color: white;
  cursor: pointer;
  display: none;
}
#div1 {
  width: 150px;
  height: 62px;
  background: black;
}
#div1 h2 {
  position: absolute;
  left: 20px;
  top: -10px;
  color: white;
  font-size: 27px;
}
#div1 p {
  position: absolute;
  left: 34px;
  top: 38px;
  color: white;
}
#down {
  width: 80px;
  height: 30px;
  position: absolute;
  left: 557px;
  z-index: 999;
  display: none;
}
#down ul {
  width: 80px;
  height: 90px;
  background: black;
}
#down li {
  width: 80px;
  height: 30px;
  color: white;
  text-align: center;
  line-height: 30px;
}
#down li a {
  text-decoration: none;
  outline: none;
  color: white;
}
#down li a:hover {
  color: #B8AA9D;
  cursor: pointer;
}
#down li:hover {
  background: white;
  color: #B8AA9D;
}
#down li:hover a {
  color: #B8AA9D;
}
.ccc1 {
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.67);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.ccc1 #login {
  width: 360px;
  height: 460px;
  background: whitesmoke;
  z-index: 9999;
  margin: 0 auto;
  position: fixed;
  top: 170px;
  left: 600px;
}
.ccc1 #login .close1 {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 10px;
  color: #676767;
  cursor: pointer;
}
.ccc1 #login #title1 {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 30px;
}
.ccc1 #login #zs1 {
  font-size: 14px;
  color: #999999;
  position: absolute;
  top: 75px;
  left: 30px;
}
.ccc1 #login #login-phone {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 130px;
  left: 30px;
  border: 1px solid #ccc;
}
.ccc1 #login #login-code {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 30px;
  border: 1px solid #ccc;
}
.ccc1 #login #login-getCode {
  position: absolute;
  top: 216px;
  left: 240px;
  font-size: 14px;
  cursor: pointer;
}
.ccc1 #login #login-btn {
  width: 300px;
  height: 50px;
  background: #2C8DFB;
  color: white;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 30px;
  top: 280px;
  cursor: pointer;
}
.ccc1 #login #login-btn:hover {
  background: rgba(44, 141, 251, 0.8);
}
.ccc1 #login #login-protocol {
  color: #a9a9a9;
  font-size: 13px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
.ccc1 #login #login-getuser {
  color: #2C8DFB;
  position: absolute;
  top: 340px;
  left: 30px;
  cursor: pointer;
}
.ccc1 .tipx {
  font-size: 13px;
  position: absolute;
  top: 255px;
  left: 30px;
}
.ccc1 .red {
  color: rgba(255, 0, 0, 0.74);
}
.ccc1 .green {
  color: rgba(0, 128, 0, 0.67);
}
.ccc2 {
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.67);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.ccc2 #join {
  width: 360px;
  height: 460px;
  background: whitesmoke;
  z-index: 9999;
  margin: 0 auto;
  position: fixed;
  top: 170px;
  left: 600px;
}
.ccc2 #join .close2 {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 10px;
  color: #676767;
  cursor: pointer;
}
.ccc2 #join #title2 {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 30px;
}
.ccc2 #join #join-text {
  position: absolute;
  top: 46px;
  left: 200px;
}
.ccc2 #join #goLogin {
  position: absolute;
  top: 46px;
  left: 270px;
  color: #2c8dff;
  cursor: pointer;
}
.ccc2 #join #join-phone {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  position: absolute;
  top: 100px;
  left: 30px;
}
.ccc2 #join #join-password {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  position: absolute;
  top: 170px;
  left: 30px;
}
.ccc2 #join #join-code {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  position: absolute;
  top: 240px;
  left: 30px;
}
.ccc2 #join #join-getcode {
  position: absolute;
  left: 240px;
  top: 256px;
  cursor: pointer;
}
.ccc2 #join #join-checkbox {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 310px;
  left: 30px;
}
.ccc2 #join #checkbox-value {
  position: absolute;
  left: 50px;
  top: 310px;
  font-size: 13px;
  color: #808080;
}
.ccc2 #join #join-btn {
  width: 300px;
  height: 50px;
  background: #2C8DFB;
  color: white;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 30px;
  top: 370px;
  cursor: pointer;
}
.ccc2 #join #join-btn:hover {
  background: rgba(44, 141, 251, 0.8);
}
.ccc2 .tipx3 {
  position: absolute;
  top: 150px;
  left: 30px;
  font-size: 13px;
}
.ccc2 .tipx4 {
  position: absolute;
  top: 222px;
  left: 30px;
  font-size: 13px;
}
.ccc2 .red {
  color: red;
}
.ccc3 {
  width: 100%;
  height: 100%;
  background: rgba(55, 55, 55, 0.67);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.ccc3 #name {
  width: 360px;
  height: 460px;
  background: whitesmoke;
  z-index: 9999;
  margin: 0 auto;
  position: fixed;
  top: 170px;
  left: 600px;
}
.ccc3 #name .close3 {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 10px;
  color: #676767;
  cursor: pointer;
}
.ccc3 #name #gojointext {
  position: absolute;
  top: 80px;
  right: 90px;
}
.ccc3 #name #gojoin {
  position: absolute;
  top: 80px;
  right: 30px;
  color: #2C8DFB;
  cursor: pointer;
}
.ccc3 #name #title3 {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: 30px;
}
.ccc3 #name #name-user {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 130px;
  left: 30px;
  border: 1px solid #ccc;
}
.ccc3 #name #name-password {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 30px;
  border: 1px solid #ccc;
}
.ccc3 #name #name-btn {
  width: 300px;
  height: 50px;
  background: #2C8DFB;
  color: white;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 30px;
  top: 280px;
  cursor: pointer;
}
.ccc3 #name #name-btn:hover {
  background: rgba(44, 141, 251, 0.8);
}
.ccc3 #name #get-login {
  color: #2C8DFB;
  position: absolute;
  left: 30px;
  top: 350px;
  cursor: pointer;
}
.ccc3 #name #name-p1 {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 13px;
  color: #ccc;
}
.ccc3 .tipx2 {
  position: absolute;
  top: 256px;
  left: 30px;
  font-size: 13px;
}
.ccc3 .red {
  color: red;
}
/*# sourceMappingURL=loves-det.css.map */